<md-divider></md-divider>
<md-content>
	<md-grid-list md-cols="4" md-row-height="90px" class="soft-blue">
	  <md-grid-tile  md-rowspan="2" md-colspan="1">
	  	<md-grid-tile-footer>
	  		Jeff.
	  	</md-grid-tile-footer>
	  </md-grid-tile>
	</md-grid-list>
</md-content>
<div class="sub-top-30" layout="row" layout-align="end center" layout-margin>
	<md-button class="md-fab">
        <md-icon md-svg-icon="plus"></md-icon>
    </md-button>
</div>

<md-conten layout="row" layout-padding layout-wrap layout-fill ng-cloak>
  <div class="md-whiteframe-3dp" flex="100"  layout-padding>
    <h3> //title </h3><br>
    <p> //Description</p>
  </div>
</md-content>