<md-content layout="column" layout-padding>
  <form ng-controller="ChallengerCtrl">
    <md-content>
      <md-input-container>
        <label>Title</label>
        <input type="text" ng-model="challenger.title"/>

      </md-input-container>
      <md-input-container>
        <div ng-message="error" ng-if="errors.hasOwnProperty('title')">
          <div ng-message="error" ng-repeat="error in errors.title ">{{ error }}</div>
        </div>
      </md-input-container>
    </md-content>
    <md-content>
      <md-input-container>
        <label>Description</label>
        <textarea ng-model="challenger.description" columns="1" rows="5"></textarea>
      </md-input-container>
      <md-input-container>
        <div ng-message="error" ng-if="errors.hasOwnProperty('description')">
          <div ng-message="error" ng-repeat="error in errors.description ">{{ error }}</div>
        </div>
      </md-input-container>
    </md-content>
    <md-content>
      <md-input-container>
        <label>Duration</label>
        <input type="number" ng-model="challenger.duration" ng-init="challenger.duration = 30"/>
      </md-input-container>
      <md-input-container>
        <div ng-message="error" ng-if="errors.hasOwnProperty('duration')">
          <div ng-message="error" ng-repeat="error in errors.duration ">{{ error }}</div>
        </div>
      </md-input-container>
    </md-content>
    <md-content layout="row" layout-align="end center" ng-click="save()">
      <md-button class="md-fab">
        <md-icon md-svg-icon="check"></md-icon>
      </md-button>
    </md-content>
  </form>
</md-content>
